In [163]:
#다중 for loop의 예제:구구단
for i in range(2,10, 2) : 
    print("   %d단            %d단 "  %(i, i+1))
    for j in range(1,10) : 
        print("{0:2d} * {1:d} = {2:2d}   {3:2d} * {4:2d} = {5:2d}".format(i, j, i*j, i+1, j, (i+1)*j))
    print("")

   2단            3단
 2 * 1 =  2    3 *  1 =  3
 2 * 2 =  4    3 *  2 =  6
 2 * 3 =  6    3 *  3 =  9
 2 * 4 =  8    3 *  4 = 12
 2 * 5 = 10    3 *  5 = 15
 2 * 6 = 12    3 *  6 = 18
 2 * 7 = 14    3 *  7 = 21
 2 * 8 = 16    3 *  8 = 24
 2 * 9 = 18    3 *  9 = 27

   4단            5단
 4 * 1 =  4    5 *  1 =  5
 4 * 2 =  8    5 *  2 = 10
 4 * 3 = 12    5 *  3 = 15
 4 * 4 = 16    5 *  4 = 20
 4 * 5 = 20    5 *  5 = 25
 4 * 6 = 24    5 *  6 = 30
 4 * 7 = 28    5 *  7 = 35
 4 * 8 = 32    5 *  8 = 40
 4 * 9 = 36    5 *  9 = 45

   6단            7단
 6 * 1 =  6    7 *  1 =  7
 6 * 2 = 12    7 *  2 = 14
 6 * 3 = 18    7 *  3 = 21
 6 * 4 = 24    7 *  4 = 28
 6 * 5 = 30    7 *  5 = 35
 6 * 6 = 36    7 *  6 = 42
 6 * 7 = 42    7 *  7 = 49
 6 * 8 = 48    7 *  8 = 56
 6 * 9 = 54    7 *  9 = 63

   8단            9단
 8 * 1 =  8    9 *  1 =  9
 8 * 2 = 16    9 *  2 = 18
 8 * 3 = 24    9 *  3 = 27
 8 * 4 = 32    9 *  4 = 36
 8 * 5 = 40    9 *  5 = 45
 8 * 6 = 48    9 *  6 = 54
 8 * 7 = 56    9 *  7 = 63
 8 * 8 = 64    9 *  8 = 72
 8 * 9 = 72    9 *  9 = 81

In [63]:
a = [38, 21, 53]
print(a)
type(a)

[38, 21, 53]

list

In [62]:
lst_a = [1, 2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [68]:
lst_b=list(range(1,4))
print(lst_b)

[1, 2, 3]

In [66]:
person = ['홍길동', 19, 181.5, True]
print(person)

['홍길동', 19, 181.5, True]

In [65]:
print(person[2:]) #슬라이싱 -  특정한 구간지정

[181.5, True]

In [96]:
lst_a = [1, 2,3]
print(lst_a)

[1, 2, 3]

In [74]:
a = ("이름", "주소", "학번")
print(a)

('이름', '주소', '학번')

In [82]:
print(a[0:2:1])

('이름', '주소')

In [86]:
a[-1]="전화번호" #튜플은 값의 수정을 허락하지 않는다.

TypeError: 'tuple' object does not support item assignment

In [97]:
lst1=list(a) #튜플을 리스트(lst1)로전환
lst1. append("전화번호")
print(lst1)

['이름', '주소', '학번', '전화번호']

In [94]:
print(lst1)

['이름', '주소', '학번', '전화번호']

In [98]:
type(lst1)

list

In [129]:
#딕셔너리의 생성과 활용
dic1 = {`name` : '홍길동', `phone` : '010-1234-5678', `addr` : '청주시 상당구'}
print(dic1)

SyntaxError: invalid syntax (<ipython-input-129-81e978a309d3>, line 2)

In [131]:
#딕셔너리의 생성과 활용
dic1 = {'name' : '홍길동', 'phone' : '010-1234-5678', 'addr' : '청주시 상당구'}
print(dic1)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [145]:
print('name' in dic1)

True

In [134]:
print(dic1.values())
print(dic1.keys())
print(dic1.items())
print(dic1.get('name'))

dict_values(['홍길동', '010-1234-5678', '청주시 상당구'])
dict_keys(['name', 'phone', 'addr'])
dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('addr', '청주시 상당구')])
홍길동

In [136]:
dic1['name'] = "춘향" # value 변경

In [138]:
print(dic1)

{'name': '춘향', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [140]:
dic1['birthday']=1992 #key추가
print(dic1)

{'name': '춘향', 'phone': '010-1234-5678', 'addr': '청주시 상당구', 'birthday': 1992}

In [144]:
dic1.pop('birthday')

KeyError: 'birthday'

In [146]:
print(dic1)

{'name': '춘향', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [147]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [165]:
print(s1 & s2) #교집합
#print(s1  s2) #합집합
print(s1 - s2)

{9, 4, 5, 6}
{1, 2, 3, 13}

In [175]:
s1.add(9) #한개의 값만 넣을 때

In [167]:
print(s1)

{1, 2, 3, 4, 5, 6, 9, 13}

In [169]:
print(s1 & s2)

{9, 4, 5, 6}

In [173]:
s2.update([1,5]) #여러개의 값을 넣을 때
print(s2)

{1, 4, 5, 6, 7, 8, 9}